#creditos {
    font-size: 10px;
}

body {
    background-color: #1d1e1f;
    color: white;
}

h3 {
    color: #5cb85c;
    text-shadow: 1px 1px #c0c0c0;
}

.botao {
    background: #449d44;
    border-color: #449d44;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

a.nav-linke {
    color: #ffffff;
}

#h4error {
    color: red;
}

.btn-primary {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.artista {
    color: #ffffff;
    font-size: x-small;
}

.tituloMusica {
    color: #ffffff;
    font-size: medium;
}